


<div class="jumbotron">
  <h1>
    Welcome to MICA Food Pantry <br/>
    <small class="text-muted">Please Select A Location</small>
  </h1>

  <!-- Center navigation -->
  <div class="sidenav">
    <p style="text-align:center">
    <%= link_to "Location 1", location_path %>
    <%= link_to "Location 2", location_path %>
    <%= link_to "Location 3", location_path %>
    </p> 
  </div>
</div>


<!-- Page content -->
<div class="main">
</div>
