<h1>Welcome to MICA Food Pantry</h1>
  <table class="table" width="100%" style="margin:0px">
    <tr>
      <th style="background-color:#8DAF2D;"><h2>Food Items in Need</h2></th>
    </tr>
    <!-- < % @needed_food_items.each do |food_item| % >-->
    <tr>
      <td style="font-size:20px; background-color:#BFD08F;"></td>
    </tr>
  </table>
