<html>
<head>
 
  


 <h1>Location Food Pantry</h1>

<div class="container">
  <!-- Example row of columns -->
<div class="row">
  
  <div class="col-sm-4">

    <table class="table">
      <tr>
        <th style="background-color:#8DAF2D;"><h2>Items in Need</h2></th>
      </tr>

        <tr>
          <td style="font-size:18px; background-color:#BFD08F;">Pasta &amp; Pasta Sauce</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#BFD08F;">Canned Fruits</td>
        </tr>
    </table>
  </div>

  <div class="col-sm-4">

    <table class="table">
      <tr>
        <th style="background-color:#F2C83E;"><h2>Suggested Food Items</h2></th>
      </tr>

        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">100% Juice Concentrate/Boxes</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Baby Food</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Boxed Potatoes</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Canned Beans</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Canned Fruits</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Canned Meat</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Canned Soup</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Canned Tuna</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Canned Vegetables</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Fresh Produce</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Frozen Foods</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Granola Bars</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Infant Formula</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Jelly</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Mac &#x27;n Cheese</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Miscellaneous Food Items</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Oatmeal</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Pancake Mix</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Pasta &amp; Pasta Sauce</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Peanut Butter</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Ramen</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Refrigerated Food</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Rice</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Skillet Dinners</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Syrup</td>
        </tr>
  </table>
  </div>

  <div class="col-sm-4">

    <table class="table">
      <tr>
        <th style="background-color:#F2C83E;"><h2>Suggested Non-Food Items</h2></th>
      </tr>

        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Baby Wash</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Baby Wipes</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Children&#x27;s Book</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Deodorant</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Diapers</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Dishwashing Liquid</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Floss</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Laundry Detergent</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Paper Towels</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Razers &amp; Shaving Cream</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Shampoo &amp; Conditioner</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Soap</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Tampons</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Tissues</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Toilet Paper</td>
        </tr>
        <tr>
          <td style="font-size:18px; background-color:#F1DC97;">Toothbrushes</td>
        </tr>
  </table>
  </div>
  <br />
  </div>
</div>


</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <center>Thank you to the community for supporting our cause!<br/>

    </center>

</div>
</div>
