/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files listed below.
*/

/*
 * Bootstrap provides good defaults for styling and some basic widgets.
 *
 * Any overrides to Bootstrap variables should come before the import statement.
 */

/* Grinnell Red ;)
$primary: #D81E05;
*/
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto);
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8DAF2D;
}

footer>div {
  width: 30%;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}

body > .container {
  padding: 60px 15px 0;
  padding-bottom:200px;
}

.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
body a:hover {
  background-color: transparent !important;
  text-decoration: none !important;
}
body > .navbar {
  background-color: white;
  border-color: #8DAF2D;
}
body > .navbar .navbar-nav > li > a, a:hover {
  color: #8DAF2D;
}
body > .navbar .navbar-nav > li > a:hover {
  color: #333;
}
nav {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #8DAF2D;
}
nav>ul {
  padding-right: 10em;
  width: 50%;
  float: right;
  height: 100%;
}
nav>ul>li {
  display: block;
  float: right;
  text-align: center;
  line-height: 50px;
  border-left: 1px solid #8DAF2D;
}
nav>ul>li>a:hover {
  border-bottom: 3px solid #8DAF2D;
}
nav>ul>li>a.active {
  border-bottom: 3px solid red;
}
h1 {
  text-align:center;
}
table {
  background-color: red;
  align: center;
  text-align: center;
}
table th {
  text-align: center;
}
table tr {
  text-align: center;
}
