<footer class="footer"> 
  <div>
    <p>Mid-Iowa Community Action, Inc</br>
    mail: 1001 S.18th Ave, Marshalltown, IA 50158</br>
    email: info@micaonline.org</br>
    call: 641-752-7162</br>
    fax: 641-752-9724</br>
    © 2020 by Mid-Iowa Community Action, Inc.</p>
  </div>
</footer>

