<footer class="footer"> 
  <div class="row">
    <div class="col-lg-4">
      <h4>Contact Us</h4>
      <ul>
        <li>mail: 1001 S.18th Ave, Marshalltown, IA 50158</li>
        <li>email: info@micaonline.org</li>
        <li>call: 641-752-7162</li>
        <li>fax: 641-752-9724</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <h4>Links</h4>
      <ul>
        <li><a href="https://www.micaonline.org/">MICA Home</a></li>
        <li><a href="https://www.micaonline.org/values">Core Values</a></li>
        <li><a href="https://www.micaonline.org/donate">Donate</a></li>
      </ul>
    </div>
    <div class="col-lg-4">
      <h4>More things for symmetry</h4>
      <ul>
        <li>mail: 1001 S.18th Ave, Marshalltown, IA 50158</li>
        <li>email: info@micaonline.org</li>
        <li>call: 641-752-7162</li>
        <li>fax: 641-752-9724</li>
      </ul>
    </div>
  </div>
  <div id="copyright">
    <p>Mid-Iowa Community Action, Inc</p>
    <p>© 2020 by Mid-Iowa Community Action, Inc.</p>
  </div>
</footer>

