<footer class="footer"> 
  <div class="container contactInfo">
    <h2 style="color:white;">Contact Us!</h2>
    <p>MICA Food Pantry</br>
    <a style="color: #333" href="mailto:info@micaonline.org?Subject=Hi Mica!">Email Us</a></p>
  </div>
</footer>
